{% extends "base.html" %}
{% block body %}
    {% if notification %}
        <div class="notification">
            {{notification}}
        </div>
    {% endif %}
    <h1>{{channel.channel}} on {{channel.server}}</h1>
    <a href="/">&larr; back to all channels</a>
    &middot;
    <a href="#oldest">&darr; Oldest messages at the bottom</a>
    &middot;
    <a href="/channel/{{channel.server}}/{{channel.channel|urlencode}}/edit/">Edit channel properties</a>
    &middot;
    {% if hide_bots %}
        <a href="?hide_bots=0">Show bots</a>
    {% else %}
        <a href="?hide_bots=1">Hide bots</a>
    {% endif %}
    <br/>
    <form>
	<input type="text" name="q" id="q" style="display:inline" />
	<input type="submit" value="search" name="search" />
    </form>
    <table>
        <tr>
            <th>Time</th>
            <th>User</th>
            <th>Message</th>
        </tr>
        {% if messages %}
            {% for message in messages %}
                {# timestamp #}
                {% ifchanged %}
                <tr>
                    <th colspan="3" class="date">{{ message.timestamp|date:"l, F jS" }}</th>
                </tr>
                {% endifchanged %}
            
                {# the message #}
                {% ifequal message.message_type 'message' %}
                <tr class="{% cycle even,odd %}">
                    <td class="timestamp" id="{{message.timestamp|date:"YmdHis"}}">
                        {# display friendly time since value if the message was posted today #}
                        {% if message.timestamp.date == today %}
                            {{message.timestamp|timesince}} ago
                    
                        {# otherwise display the time posted, currently as UTC #}
                        {% else %}
                            {{message.timestamp|date:"H:i"}}
                        {% endif %}
                    </td>
                    <td class="nickname" style="background-color: rgb({{message.user.get_color|join:","}})" title="Last seen on {{message.user.last_seen_at|date:"l, F jS \a\t H:i"}}, tagged with {{message.user.tags|join:", "}}">{{message.user.nickname}}</td>
                    <td class="message">{{ message.message_content|escape|urlize }}</td>
                </tr>
                {% endifequal %}
    
                {% ifequal message.message_type 'action'  %}
                <tr class="action">
                    <td id="{{message.timestamp|date:"YmdHis"}}" colspan="3">
                        <div>
                            {{ message.user.nickname }} {{ message.message_content|escape|urlize }} at {{message.timestamp|date:"H:i"}}
                        </div>
                    </td>
                </tr>
                {% endifequal %}

                {% ifequal message.message_type 'system'  %}
                <tr class="system">
                    <td id="{{message.timestamp|date:"YmdHis"}}">
                        {% if message.timestamp.date == today %}
                            {{message.timestamp|timesince}} ago
                        {% else %}
                            {{message.timestamp|date:"H:i"}}
                        {% endif %}
                    </td>
                    <td></td>
                    <td>{{ message.message_content|escape|urlize }}</td>
                </tr>
                {% endifequal %}
            {% endfor %}
            <tr>
                <td colspan="3" id="oldest">
                    {% if next %}
                        <div class="next">
                            <a href="?c={{ next }}&q={{search_str}}">Older &rarr;</a>
                        </div>
                    {% endif %}
                    {% if cursor %}
                        <div class="previous">
                            <a href="?c={{ previous }}&q={{search_str}}">&larr; Newer</a>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No messages were posted today</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}
