{% extends "base.html" %}
{% block body %}
    <h1>{{channel.channel}} on {{channel.server}}</h1>
    <a href="/">&larr; all channels</a>
    <table>
        <tr>
            <th>Time</th>
            <th>User</th>
            <th>Message</th>
        </tr>
        {% if messages.count %}
            {% for message in messages %}
                {% ifequal message.message_type 'message' %}
                <tr class="{% cycle even,odd %}">
                    <td id="{{message.timestamp|date:"YmdHis"}}">{{message.timestamp|timesince}} ago</td>
                    <td class="white" style="background-color: rgb({{message.user.get_color|join:","}})">{{message.user.nickname}}</td>
                    <td>{{ message.message_content|escape|urlize }}</td>
                </tr>
                {% endifequal %}
        
                {% ifequal message.message_type 'action'  %}
                <tr class="action">
                    <td id="{{message.timestamp|date:"YmdHis"}}">{{message.timestamp|timesince}} ago</td>
                    <td></td>
                    <td>{{ message.message_content|escape|urlize }}</td>
                </tr>
                {% endifequal %}

                {% ifequal message.message_type 'system'  %}
                <tr class="system">
                    <td id="{{message.timestamp|date:"YmdHis"}}">{{message.timestamp|timesince}} ago</td>
                    <td></td>
                    <td>{{ message.message_content|escape|urlize }}</td>
                </tr>
                {% endifequal %}
            {% endfor %}
        {% else %}
            <tr>
                <td colspan="3">No messages were posted today</td>
            </tr>
        {% endif %}
        <tr>
            <td colspan="3">
                {% if next_day %}
                    <div class="next">
                        <a href="?date={{next_day|date:"Y-m-d"}}">{{next_day}} &rarr;</a>
                    </div>
                {% endif %}
                {% if previous_day %}
                    <div class="previous">
                        <a href="?date={{previous_day|date:"Y-m-d"}}">&larr; {{previous_day}}</a>
                    </div>
                {% endif %}
            </td>
        </tr>
    </table>
{% endblock %}
