{% extends "base.html" %}
{% block body %}
    <h1>{{channel.channel}} on {{channel.server}}</h1>
    <a href="/">&larr; back to all channels</a>
    &middot;
    <a href="#older">&darr; Oldest messages at the bottom</a>
    <table>
        <tr>
            <th>Time</th>
            <th>User</th>
            <th>Message</th>
        </tr>
        {% if messages %}
            {% for message in messages %}
                {% ifchanged %}
                <tr>
                    <th colspan="3" class="date">{{ message.timestamp|date:"l, F jS" }}</th>
                </tr>
                {% endifchanged %}
                {% ifequal message.message_type 'message' %}
                <tr class="{% cycle even,odd %}">
                    <td class="timestamp" id="{{message.timestamp|date:"YmdHis"}}">{{message.timestamp|timesince}} ago</td>
                    <td class="nickname" style="background-color: rgb({{message.user.get_color|join:","}})">{{message.user.nickname}}</td>
                    <td class="message">{{ message.message_content|escape|urlize }}</td>
                </tr>
                {% endifequal %}
        
                {% ifequal message.message_type 'action'  %}
                <tr class="action">
                    <td id="{{message.timestamp|date:"YmdHis"}}" colspan="3">
                        <div>
                            {{ message.message_content|escape|urlize }} at {{message.timestamp|date:"H:i:s"}}
                        </div>
                    </td>
                </tr>
                {% endifequal %}

                {% ifequal message.message_type 'system'  %}
                <tr class="system">
                    <td id="{{message.timestamp|date:"YmdHis"}}">{{message.timestamp|timesince}} ago</td>
                    <td></td>
                    <td>{{ message.message_content|escape|urlize }}</td>
                </tr>
                {% endifequal %}
            {% endfor %}
            <tr>
                <td colspan="3" id="oldest">
                    {% if next %}
                        <div class="next">
                            <a href="?c={{ next }}">Next &rarr;</a>
                        </div>
                    {% endif %}
                    {% if previous %}
                        <div class="previous">
                            <a href="?c={{ previous }}">&larr; Previous</a>
                        </div>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="3">No messages were posted today</td>
            </tr>
        {% endif %}
    </table>
{% endblock %}
