<table>
    <tr>
        <th>Channel</th>
        <th>Time</th>
        <th>User</th>
        <th>Message</th>
    </tr>
    {% for message in messages %}
        {% ifequal message.message_type 'message' %}
        <tr class="{% cycle even,odd %}">
            <th>{{message.channel.channel|default:""}}</th>
            <td>{{message.timestamp|timesince}} ago</td>
            <td>{{message.user.nickname}}</td>
            <td>{{ message.message_content|escape }}</td>
        </tr>
        {% endifequal %}
    
        {% ifequal message.message_type 'action'  %}
        <tr class="action">
            <th>{{message.channel.channel|default:""}}</th>
            <td>{{message.timestamp|timesince}} ago</td>
            <td></td>
            <td>{{ message.message_content|escape }}</td>
        </tr>
        {% endifequal %}

        {% ifequal message.message_type 'system'  %}
        <tr class="system">
            <th>{{message.channel.channel|default:""}}</th>
            <td>{{message.timestamp|timesince}} ago</td>
            <td></td>
            <td>{{ message.message_content|escape }}</td>
        </tr>
        {% endifequal %}
    {% endfor %}
</table>
